steps:
- powershell: |
    Write-Host "##vso[task.setvariable variable=PY_EXE]"(py -"$PIPENV_DEFAULT_PYTHON_VERSION" -c 'import sys; print(sys.executable)')

- script: |
    echo "Python exe: "$(PY_EXE)
    virtualenv --python=$(PY_EXE) D:\.venv
    echo "##vso[task.setvariable variable=VIRTUAL_ENV]"$(PY_EXE)
    python -m pip install -e .[test] --upgrade
    D:\.venv\Scripts\pip.exe install -e .[test] --upgrade
    D:\.venv\Scripts\pipenv install --dev
    D:\.venv\Scripts\pipenv run pip install -e .[test]
    echo D:\.venv\Scripts\pipenv --venv && echo D:\.venv\Scripts\pipenv --py && echo D:\.venv\Scripts\pipenv run python --version
  displayName: Make Virtualenv
