/.venv
*.pyc
__pycache__/
.cache
pipenv.egg-info/
*.swp
.sublime-text-git-autocommit
docs/_build
dist
build
.DS_Store
test_project
/.vscode/
.idea

/tests/pytest-pypi/pytest_pypi.egg-info

/.pytest_cache/

/.env

/requirements.txt

/test/

/results.tap

/report.tap

/t.py

/deb_dist/

.tox/
.eggs