name: Pipenv Build Rules
trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    exclude:
    - docs/*
    - news/*
    - peeps/*
    - README.md
    - pipenv/*.txt
    - CHANGELOG.rst
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md
    - .gitignore
    - .gitattributes
    - .editorconfig

variables:
- group: CI

jobs:
- job: TestLinux
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7.15'
        python.architecture: x64
      Python36:
        python.version: '3.6.8'
        python.architecture: x64
      Python37:
        python.version: '3.7.2'
        python.architecture: x64
    maxParallel: 4
  steps:
  - template: .azure-pipelines/steps/run-tests.yml
    parameters:
      vmImage: 'Ubuntu-16.04'

- job: TestVendoring
  pool:
    vmImage: 'Ubuntu-16.04'
  variables:
    python.version: '3.7.2'
    python.architecture: x64
  steps:
    - template: .azure-pipelines/steps/run-vendor-scripts.yml
      parameters:
        vmImage: 'Ubuntu-16.04'

- job: TestPackaging
  pool:
    vmImage: 'Ubuntu-16.04'
  variables:
    python.version: '3.7.2'
    python.architecture: x64
  steps:
    - template: .azure-pipelines/steps/build-package.yml
      parameters:
        vmImage: 'Ubuntu-16.04'

- job: TestWindows
  pool:
    vmImage: windows-2019
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
        python.architecture: x64
      Python36:
        python.version: '3.6'
        python.architecture: x64
      Python37:
        python.version: '3.7'
        python.architecture: x64
    maxParallel: 4
  steps:
  - template: .azure-pipelines/steps/run-tests.yml
    parameters:
      vmImage: windows-2019

- job: TestMacOS
  pool:
    vmImage: macOS-10.13
  strategy:
    matrix:
      Python27:
        python.version: '2.7.16'
        python.architecture: x64
      Python36:
        python.version: '3.6.8'
        python.architecture: x64
      Python37:
        python.version: '3.7.3'
        python.architecture: x64
    maxParallel: 4
  steps:
  - template: .azure-pipelines/steps/run-tests.yml
    parameters:
      vmImage: macOS-10.13
