include README.rst LICENSE NOTICES HISTORY.txt pipenv/patched/safety.zip
include pipenv/patched/notpip/_vendor/requests/cacert.pem
include pipenv/vendor/pip9/_vendor/requests/cacert.pem
include pipenv/vendor/pipreqs/stdlib
include pipenv/vendor/pipreqs/mapping
include pipenv/pipenv.1
