[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 90
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.github
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.pyre_configuration
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | pipenv/vendor
  | pipenv/patched
  | tests/pypi
  | tests/pytest-pypi
  | tests/test_artifacts
  | get-pipenv.py
  | pyproject.toml
)
'''

[tool.isort]
atomic = true
lines_after_imports = 2
lines_between_types = 1
multi_line_output = 5
line_length = 80
known_first_party = [
    "pipenv",
    "tests",
]

[tool.mypy]
ignore_missing_imports = true
follow_imports = "skip"
html_report = "mypyhtml"
python_version = "3.7"
mypy_path = "typeshed/pyi:typeshed/imports"

[tool.pytest.ini_options]
addopts = "-ra"
plugins = "xdist"
testpaths = ["tests"]
# Add vendor and patched in addition to the default list of ignored dirs
# Additionally, ignore tasks, news, test subdirectories and peeps directory
norecursedirs = [
    ".*", "build",
    "dist",
    "CVS",
    "_darcs",
    "{arch}",
    "*.egg",
    "vendor",
    "patched",
    "news",
    "tasks",
    "docs",
    "tests/test_artifacts",
    "tests/pytest-pypi",
    "tests/pypi",
    "peeps",
]
filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::PendingDeprecationWarning",
]
# These are not all the custom markers, but most of the ones with repeat uses
# `pipenv run pytest --markers` will list all markers inlcuding these
markers = [
    "install: tests having to do with `pipenv install`",
    "needs_internet: integration tests that require internet to pass",
    "basic: basic pipenv tests grouping",
    "dev: tests having to do with dev and dev packages",
    "system: related or interacting with the os",
    "utils: grouping of pipenv utility functions",
    "cli: test grouping that relate to command line like `pipenv --flag args`",
    "requirements: tests that save and alter pip requirements",
    "run: tests that run or execute python through pipenv",
    "script: grouping of tests that execute scripts",
    "keep_outdated: when an activity is supposed to keep something out of date",
    "lock: tests that interact with pipenv lock",
    "markers: pipenv environment markers",
    "vcs: tests integration with pipenv and vertsion control systems",
    "project: tests with the project object",
    "sync: related to `pipenv sync`",
    "rrule: relating to rrules (as in recurring time)",
    "tzoffset: timezone offset",
    "gettz: tests with gettz (get timezone) from dateutil lib",
    "tzstr: timezone string",
    "extras",
    "extended",
    "ext: extra non-categorized tests",
]

[tool.towncrier]
package = "pipenv"
filename = "CHANGELOG.rst"
issue_format = "`#{issue} <https://github.com/pypa/pipenv/issues/{issue}>`_"
directory = "news/"
title_format = "{version} ({project_date})"
template = "news/towncrier_template.rst"

  [[tool.towncrier.type]]
  directory = "feature"
  name = "Features & Improvements"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "behavior"
  name = "Behavior Changes"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "bugfix"
  name = "Bug Fixes"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "vendor"
  name = "Vendored Libraries"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "doc"
  name = "Improved Documentation"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "trivial"
  name = "Trivial Changes"
  showcontent = false

  [[tool.towncrier.type]]
  directory = "removal"
  name = "Removals and Deprecations"
  showcontent = true

  [[tool.towncrier.type]]
  directory = "process"
  name = "Relates to dev process changes"
  showcontent = true
