[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
"e1839a8" = {path = ".", editable = true}
httpbin = "*"
requests = "*"
twine = "*"


[requires]

python_version = "3.6"
