pipenv==2018.11.26
packaging==20.3
safety==1.8.7
pyyaml==5.4
virtualenv==20.0.18
requests==2.23.0
idna==2.9
pyparsing==2.4.7
appdirs==1.4.3
filelock==3.0.12
distlib==0.3.0
certifi==2020.4.5.1
click==7.1.1
chardet==3.0.4
dparse==0.5.0
virtualenv-clone==0.5.4
urllib3==1.25.9
six==1.14.0
toml==0.10.0
singledispatch==3.4.0.3
configparser==4.0.2
importlib-metadata==1.6.0
typing==3.7.4.1
pathlib2==2.3.5
importlib-resources==1.4.0
zipp==1.2.0
contextlib2==0.6.0.post1
enum34==1.1.10
scandir==1.10.0