[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.0"
urllib3 = ">=2.6.0"
certifi = ">=2024.2.2"
idna = ">=3.6"
charset-normalizer = ">=3.3.2"

[dev-packages]
pytest = ">=7.4.0"

[requires]
python_version = "3.11"
