click==8.0.3
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.2
myst-parser[linkify]==4.0.0
-e .
pytz==2022.7.1
requests>=2.32.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-click==6.0.0
sphinxcontrib-spelling==8.0.0
sphinxcontrib-websupport==2.0.0
urllib3>=1.26.18
virtualenv>=20.20.0
virtualenv-clone==0.5.7
